{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Peaka Gateway API",
    "description" : "Peaka Gateway API Documentation",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://partner.peaka.studio/api/v1",
    "description" : "Default Server URL (US Zone)"
  }, {
    "url" : "https://partner.eu.peaka.studio/api/v1",
    "description" : "EU Zone"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/organizations" : {
      "get" : {
        "tags" : [ "Organization -- Organizations" ],
        "summary" : "List Organizations",
        "description" : "Retrieves all the organizations accessible by the authenticated user.\n\nAn Organization is the highest-level resource that can contain multiple Workspaces.\n",
        "operationId" : "listOrganizations",
        "responses" : {
          "200" : {
            "description" : "List of Organizations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                },
                "examples" : {
                  "List Organizations Example" : {
                    "description" : "List Organizations Example",
                    "value" : [ {
                      "id" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "name" : "ABC Organization",
                      "owner" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "createdAt" : "2025-03-25T12:28:48.737355Z",
                      "iconFileId" : null,
                      "description" : "Default Organization"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/organizations/{organizationId}" : {
      "get" : {
        "tags" : [ "Organization -- Organizations" ],
        "summary" : "Read Organization",
        "description" : "Returns the specified Organization.\n\nAn Organization is the highest-level resource that can contain multiple Workspaces.\n",
        "operationId" : "getOrganization",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8db17e23-29de-4dab-8886-af9717e0e742"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                },
                "examples" : {
                  "Read Organization Example" : {
                    "description" : "Read Organization Example",
                    "value" : {
                      "id" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "name" : "ABC Organization",
                      "owner" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "createdAt" : "2025-03-25T12:28:48.737355Z",
                      "iconFileId" : null,
                      "description" : "Default Organization"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/organizations/{organizationId}/workspaces" : {
      "get" : {
        "tags" : [ "Organization -- Workspaces" ],
        "summary" : "List Workspaces",
        "description" : "Returns all workspaces under the specified Organization.\n\nA Workspace is a collaborative environment within an Organization that groups Projects together. It facilitates team collaboration, resource management, and organization of data operations.\n\nThe hierarchical structure in Peaka is:\n\n<code>Organization (top-level) → Workspace → Project</code>\n\nProjects contain data catalogs and workflows that teams manage within a Workspace.\n",
        "operationId" : "listWorkspaces",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Workspaces",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspace"
                },
                "examples" : {
                  "List Workspace Example" : {
                    "description" : "List Workspace Example",
                    "value" : [ {
                      "id" : "56d43968-e31d-4010-9b75-018a79a51b17",
                      "name" : "workspace 1",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "sample description",
                      "createdAt" : "2025-04-17T08:08:15.687751Z",
                      "defaultWorkspace" : false
                    }, {
                      "id" : "78cf8c83-8569-4d7c-a1ce-404dee7c5c6b",
                      "name" : "workspace 2",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "sample description",
                      "createdAt" : "2025-04-17T08:05:58.312996Z",
                      "defaultWorkspace" : false
                    }, {
                      "id" : "eaa442d7-82ac-4a65-b302-093d0465eb67",
                      "name" : "Default Workspace",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "Default Workspace",
                      "createdAt" : "2025-03-25T12:28:51.147125Z",
                      "defaultWorkspace" : true
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Organization -- Workspaces" ],
        "summary" : "Create Workspace",
        "description" : "The endpoint allows you to create a new Workspace within an Organization.\n\nA Workspace is a collaborative environment within an Organization that groups Projects together. It facilitates team collaboration, resource management, and organization of data operations.\n\nThe hierarchical structure in Peaka is:\n\n<code>Organization (top-level) → Workspace → Project</code>\n\nProjects contain data catalogs and workflows that teams manage within a Workspace.\n",
        "operationId" : "createWorkspace",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        } ],
        "requestBody" : {
          "description" : "Create Workspace",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceRequest"
              },
              "examples" : {
                "Create Workspace Example" : {
                  "description" : "Create Workspace Example",
                  "value" : {
                    "name" : "workspace 1",
                    "description" : "workspace description"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspace"
                },
                "examples" : {
                  "Create Workspace Example" : {
                    "description" : "Create Workspace Example",
                    "value" : {
                      "id" : "8eefb5a9-59f7-43cc-bacb-f0b0e0d1b0ea",
                      "name" : "workspace 1",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "workspace description",
                      "createdAt" : null,
                      "defaultWorkspace" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/organizations/{organizationId}/workspaces/{workspaceId}" : {
      "get" : {
        "tags" : [ "Organization -- Workspaces" ],
        "summary" : "Read Workspace",
        "description" : "Returns details of a specified Workspace, which is a collaborative environment within an Organization that groups Projects together.\n\nA Workspace facilitates team collaboration, resource management, and organization of data operations.\n\nThe hierarchical structure in Peaka is:\n\n<code>Organization (top-level) → Workspace → Project</code>\n\nProjects contain data catalogs and workflows that teams manage within a Workspace.\n",
        "operationId" : "getWorkspace",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "Workspace ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspace"
                },
                "examples" : {
                  "Read Workspace example" : {
                    "description" : "Read Workspace example",
                    "value" : {
                      "id" : "8eefb5a9-59f7-43cc-bacb-f0b0e0d1b0ea",
                      "name" : "workspace 1",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "workspace description",
                      "createdAt" : null,
                      "defaultWorkspace" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "put" : {
        "tags" : [ "Organization -- Workspaces" ],
        "summary" : "Update Workspace",
        "description" : "Updates the specified Workspace within an Organization.\n\nA Workspace is a collaborative environment within an Organization that groups Projects together, facilitating team collaboration and resource management.\n\nThe hierarchical structure in Peaka is:\n\n<code>Organization (top-level) → Workspace → Project</code>\n\nProjects contain data catalogs and workflows that teams manage within a Workspace.\n",
        "operationId" : "updateWorkspace",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "Workspace ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8eefb5a9-59f7-43cc-bacb-f0b0e0d1b0ea"
        } ],
        "requestBody" : {
          "description" : "Update Workspace",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceRequest"
              },
              "examples" : {
                "Update Workspace Example" : {
                  "description" : "Update Workspace Example",
                  "value" : {
                    "name" : "workspace new name",
                    "description" : "workspace description"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspace"
                },
                "examples" : {
                  "Update Workspace Example" : {
                    "description" : "Update Workspace Example",
                    "value" : {
                      "id" : "8eefb5a9-59f7-43cc-bacb-f0b0e0d1b0ea",
                      "name" : "workspace new name",
                      "createdBy" : "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                      "organizationId" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef",
                      "description" : "workspace description",
                      "createdAt" : null,
                      "defaultWorkspace" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "delete" : {
        "tags" : [ "Organization -- Workspaces" ],
        "summary" : "Delete Workspace",
        "description" : "Deletes a specified Workspace within an Organization.\n\nA Workspace is a collaborative environment that groups Projects to facilitate team collaboration and resource management.\n\nThe hierarchical structure in Peaka is:\n\n<code>Organization (top-level) → Workspace → Project</code>\n",
        "operationId" : "deleteWorkspace",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "Workspace ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8eefb5a9-59f7-43cc-bacb-f0b0e0d1b0ea"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/organizations/{organizationId}/workspaces/{workspaceId}/projects" : {
      "get" : {
        "tags" : [ "Organization -- Projects" ],
        "summary" : "List Projects",
        "description" : "Fetches all Projects within the given Workspace.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "listProjects_1",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "ID of the Workspace",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Project"
                  }
                },
                "examples" : {
                  "List of all projects" : {
                    "description" : "List of all projects",
                    "value" : [ {
                      "id" : "SksnYuxH",
                      "name" : "Anapp23334",
                      "description" : null,
                      "domain" : "anapp2-rfto",
                      "webhookBaseUrl" : "https://anapp2-rfto--test.api.peaka.host",
                      "createdAt" : "2023-08-21T11:09:04.699714310Z",
                      "workspaceId" : "d7f282d2-b392-4b5c-8cea-05f7523df2d2"
                    }, {
                      "id" : "0IQ6f4QB",
                      "name" : "App Deneme",
                      "description" : null,
                      "domain" : "appdeneme-wmdp",
                      "webhookBaseUrl" : "https://appdeneme-wmdp--test.api.peaka.host",
                      "createdAt" : "2023-12-14T12:38:55.025274418Z",
                      "workspaceId" : "d7f282d2-b392-4b5c-8cea-05f7523df2d2"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Organization -- Projects" ],
        "summary" : "Create Project",
        "description" : "Creates a new Project within the given Workspace.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "createProject_1",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "ID of the Workspace",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        } ],
        "requestBody" : {
          "description" : "Project to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectRequest"
              },
              "examples" : {
                "Create Project Example" : {
                  "description" : "Create Project Example",
                  "value" : {
                    "name" : "Sample Project Name"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Project created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Create Project Example" : {
                    "description" : "Create Project Example",
                    "value" : {
                      "id" : "URNg0GIj",
                      "name" : "Sample Project Name",
                      "description" : "Non accusantium ducimus accusantium. Laborum eum accusamus sit sit hic eaque doloremque. Occaecati blanditiis facere consequuntur consectetur culpa reiciendis hic tempore dolorem. Saepe impedit nam necessitatibus maxime numquam voluptatum cum. Adipisci mollitia blanditiis sint inventore ex commodi occaecati ipsam quas.",
                      "domain" : "sampleprojectname-cdcn",
                      "webhookBaseUrl" : "https://sampleprojectname-cdcn--test.api.peaka.host",
                      "createdAt" : "2024-09-10T10:11:02.385253956Z",
                      "workspaceId" : "d7f282d2-b392-4b5c-8cea-05f7523df2d2"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/organizations/{organizationId}/workspaces/{workspaceId}/projects/{projectId}" : {
      "get" : {
        "tags" : [ "Organization -- Projects" ],
        "summary" : "Read Project",
        "description" : "Returns details of a specified Project.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "readProject_1",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "ID of the Workspace",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        }, {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Read Project Example" : {
                    "description" : "Read Project Example",
                    "value" : {
                      "id" : "SksnYuxH",
                      "name" : "Anapp23334",
                      "description" : null,
                      "domain" : "anapp2-rfto",
                      "webhookBaseUrl" : "https://anapp2-rfto--test.api.peaka.host",
                      "createdAt" : "2023-08-21T11:09:04.699714310Z",
                      "workspaceId" : "d7f282d2-b392-4b5c-8cea-05f7523df2d2"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "put" : {
        "tags" : [ "Organization -- Projects" ],
        "summary" : "Update Project",
        "description" : "Updates the specified Project within a Workspace.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "updateProject_1",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "ID of the Workspace",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        }, {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "requestBody" : {
          "description" : "Project to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectRequest"
              },
              "examples" : {
                "Update Project Example" : {
                  "description" : "Update Project Example",
                  "value" : {
                    "name" : "Updated Project Name",
                    "description" : "Iste aut quo maxime dolorem atque. Alias neque porro. Fugiat ipsam similique voluptate quam libero deserunt consequuntur dolorum nobis."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Project updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Update Project Example" : {
                    "description" : "Update Project Example",
                    "value" : {
                      "id" : "URNg0GIj",
                      "name" : "Updated Project Name",
                      "description" : "Iste aut quo maxime dolorem atque. Alias neque porro. Fugiat ipsam similique voluptate quam libero deserunt consequuntur dolorum nobis.",
                      "domain" : "sampleprojectname-cdcn",
                      "webhookBaseUrl" : null,
                      "createdAt" : "2024-09-10T10:11:02.385253956Z",
                      "workspaceId" : "d7f282d2-b392-4b5c-8cea-05f7523df2d2"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "delete" : {
        "tags" : [ "Organization -- Projects" ],
        "summary" : "Delete Project",
        "description" : "Deletes the specified Project within a Workspace.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "deleteProject_1",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "ID of the Organization",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d0d3c83f-29ed-4f2e-899d-1bfa00eb3cef"
        }, {
          "name" : "workspaceId",
          "in" : "path",
          "description" : "ID of the Workspace",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "56d43968-e31d-4010-9b75-018a79a51b17"
        }, {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "responses" : {
          "200" : {
            "description" : "Project deleted"
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/projects" : {
      "get" : {
        "tags" : [ "Projects (Deprecated)" ],
        "summary" : "List Projects",
        "description" : "<strong>Deprecated.</strong> Use the <code>List Projects</code> endpoint under Organization instead.\n\nRetrieves all Projects accessible by the authenticated user.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "listProjects",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Project"
                  }
                },
                "examples" : {
                  "List of all projects" : {
                    "description" : "List of all projects",
                    "value" : [ {
                      "id" : "SksnYuxH",
                      "name" : "Anapp23334",
                      "description" : null,
                      "domain" : "anapp2-rfto",
                      "webhookBaseUrl" : "https://anapp2-rfto--test.api.peaka.host",
                      "createdAt" : "2023-08-21T11:09:04.699714310Z"
                    }, {
                      "id" : "0IQ6f4QB",
                      "name" : "App Deneme",
                      "description" : null,
                      "domain" : "appdeneme-wmdp",
                      "webhookBaseUrl" : "https://appdeneme-wmdp--test.api.peaka.host",
                      "createdAt" : "2023-12-14T12:38:55.025274418Z"
                    } ]
                  }
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Projects (Deprecated)" ],
        "summary" : "Create Project",
        "description" : "<strong>Deprecated.</strong> Use the <code>Create Project</code> endpoint under Organization instead.\n\nCreates a new Project.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "createProject",
        "requestBody" : {
          "description" : "Project to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectRequest"
              },
              "examples" : {
                "Create Project Example" : {
                  "description" : "Create Project Example",
                  "value" : {
                    "name" : "Sample Project Name"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Project created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Create Project Example" : {
                    "description" : "Create Project Example",
                    "value" : {
                      "id" : "URNg0GIj",
                      "name" : "Sample Project Name",
                      "description" : "Non accusantium ducimus accusantium. Laborum eum accusamus sit sit hic eaque doloremque. Occaecati blanditiis facere consequuntur consectetur culpa reiciendis hic tempore dolorem. Saepe impedit nam necessitatibus maxime numquam voluptatum cum. Adipisci mollitia blanditiis sint inventore ex commodi occaecati ipsam quas.",
                      "domain" : "sampleprojectname-cdcn",
                      "webhookBaseUrl" : "https://sampleprojectname-cdcn--test.api.peaka.host",
                      "createdAt" : "2024-09-10T10:11:02.385253956Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/projects/{projectId}" : {
      "get" : {
        "tags" : [ "Projects (Deprecated)" ],
        "summary" : "Read Project",
        "description" : "<strong>Deprecated.</strong> Use the <code>Read Project</code> endpoint under Organization instead.\n\nReturns details of a specified Project.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "readProject",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Read Project Example" : {
                    "description" : "Read Project Example",
                    "value" : {
                      "id" : "SksnYuxH",
                      "name" : "Anapp23334",
                      "description" : null,
                      "domain" : "anapp2-rfto",
                      "webhookBaseUrl" : "https://anapp2-rfto--test.api.peaka.host",
                      "createdAt" : "2023-08-21T11:09:04.699714310Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "put" : {
        "tags" : [ "Projects (Deprecated)" ],
        "summary" : "Update Project",
        "description" : "<strong>Deprecated.</strong> Use the <code>Update Project</code> endpoint under Organization instead.\n\nUpdates the specified Project.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "updateProject",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "requestBody" : {
          "description" : "Project to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProjectRequest"
              },
              "examples" : {
                "Update Project Example" : {
                  "description" : "Update Project Example",
                  "value" : {
                    "name" : "Updated Project Name",
                    "description" : "Iste aut quo maxime dolorem atque. Alias neque porro. Fugiat ipsam similique voluptate quam libero deserunt consequuntur dolorum nobis."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Project updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                },
                "examples" : {
                  "Update Project Example" : {
                    "description" : "Update Project Example",
                    "value" : {
                      "id" : "URNg0GIj",
                      "name" : "Updated Project Name",
                      "description" : "Iste aut quo maxime dolorem atque. Alias neque porro. Fugiat ipsam similique voluptate quam libero deserunt consequuntur dolorum nobis.",
                      "domain" : "sampleprojectname-cdcn",
                      "webhookBaseUrl" : null,
                      "createdAt" : "2024-09-10T10:11:02.385253956Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "delete" : {
        "tags" : [ "Projects (Deprecated)" ],
        "summary" : "Delete Project",
        "description" : "<strong>Deprecated.</strong> Use the <code>Delete Project</code> endpoint under Organization instead.\n\nDeletes the specified Project.\n\nA Project is a unit of work where queries, data tables, and semantic catalogs are managed. Projects live inside Workspaces.\n",
        "operationId" : "deleteProject",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SksnYuxH"
        } ],
        "responses" : {
          "200" : {
            "description" : "Project deleted"
          }
        },
        "deprecated" : true,
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/projects/{projectId}/apiKeys" : {
      "get" : {
        "tags" : [ "Projects -- Api Key" ],
        "summary" : "List API Keys",
        "description" : "Retrieves all API Keys associated with the specified Project.\n",
        "operationId" : "listApiKeys",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "Project ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of API Keys",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                },
                "examples" : {
                  "List API Keys Example" : {
                    "description" : "List API Keys Example",
                    "value" : [ {
                      "name" : "test",
                      "apiKey" : null,
                      "apiKeyId" : "21fd1a8d-88d5-4295-b792-5b2113138057"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Projects -- Api Key" ],
        "summary" : "Create API Key",
        "description" : "Creates a new API Key for the specified Project. The API Key is used to authenticate requests to the Peaka API on behalf of the Project.\n\nThe full key value is only returned once at creation time. Store it securely, as it cannot be retrieved later.\n",
        "operationId" : "createApiKey",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "Project ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "requestBody" : {
          "description" : "API Key request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKeyRequest"
              },
              "examples" : {
                "API Key Request with Expiration" : {
                  "description" : "API Key Request with Expiration",
                  "value" : {
                    "name" : "test",
                    "expiresAt" : "2027-09-10T10:11:00Z"
                  }
                },
                "API Key Request With No Expiration" : {
                  "description" : "API Key Request With No Expiration",
                  "value" : {
                    "name" : "test"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "API Key created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                },
                "examples" : {
                  "API Key" : {
                    "description" : "API Key",
                    "value" : {
                      "name" : "test",
                      "apiKey" : "TtgGcQFq.s3fzROFoop8uHG4pS2LYhoqn1rLb6oW6",
                      "apiKeyId" : "21fd1a8d-88d5-4295-b792-5b2113138057"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/projects/{projectId}/apiKeys/{apiKeyId}" : {
      "delete" : {
        "tags" : [ "Projects -- Api Key" ],
        "summary" : "Delete API Key",
        "description" : "Deletes the specified API Key. Once deleted, any requests authenticated with this key will be rejected.\n",
        "operationId" : "deleteApiKey",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "Project ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "apiKeyId",
          "in" : "path",
          "description" : "API Key ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "21fd1a8d-88d5-4295-b792-5b2113138057"
        } ],
        "responses" : {
          "200" : {
            "description" : "API Key deleted"
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/config" : {
      "get" : {
        "tags" : [ "Connections" ],
        "summary" : "List Connection Config",
        "description" : "List all connection configurations.\nThis will return a list of all connection configurations available in the system.",
        "operationId" : "listConnectionConfig",
        "responses" : {
          "200" : {
            "description" : "List of connection configurations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionConfiguration"
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/config/{connectionType}" : {
      "get" : {
        "tags" : [ "Connections" ],
        "summary" : "Get Connection Config",
        "description" : "Returns the configuration schema for a specific connection type, including required credential fields and their types. Use this to understand what parameters are needed when creating a connection of this type.\n",
        "operationId" : "getConnectionConfig",
        "parameters" : [ {
          "name" : "connectionType",
          "in" : "path",
          "description" : "Type of connection",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "hubspot"
        } ],
        "responses" : {
          "200" : {
            "description" : "Connection configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionConfiguration"
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/{projectId}" : {
      "get" : {
        "tags" : [ "Connections" ],
        "summary" : "List Connections",
        "description" : "Retrieves all connections for the specified Project. A Connection represents an authenticated link to an external data source (e.g., Stripe, Airtable, PostgreSQL).\n",
        "operationId" : "listConnections",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Connections",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                },
                "examples" : {
                  "List Connections" : {
                    "description" : "Sample List of Connections",
                    "value" : [ {
                      "id" : "c6883de8-78ab-49fb-93c0-70a13652a341",
                      "name" : "Stripe Code2",
                      "type" : "stripe"
                    }, {
                      "id" : "81e6dfd0-4c88-4e81-a28b-422e89cc07c7",
                      "name" : "airtable",
                      "type" : "airtable"
                    }, {
                      "id" : "8db17e23-29de-4dab-8886-af9717e0e742",
                      "name" : "airtable2",
                      "type" : "airtable"
                    }, {
                      "id" : "22706960-023c-411e-a3ac-62d286fa6685",
                      "name" : "exampleAirtableConnection",
                      "type" : "airtable"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Connections" ],
        "summary" : "Create Connection",
        "description" : "This endpoint allows you to create a new connection for a specified project.\n\nYou need to provide the project ID and the connection details in the request body.\n\nThe connection details include the name, type, and credentials required for the connection.\n\nDepending on the connection type, additional parameters may be required under credentials.\n\nYou can view the list of supported connection types by calling the /connections/config endpoint.\n\nYou can switch examples from the second dropdown of the sample request component. (cURL (first dropdown) - Stripe Connection Request (second dropdown))\n\n**Note**: Typically, the connection creation process involves the following steps:\n1. First, learn about the connection type and the required parameters by calling the /connections/config endpoint.\n2. Create a connection request with the required parameters.\n3. If the connection requires Oauth2 authorization, there may be additional steps to follow. See https://docs.peaka.com/how-to-guides/how-to-create-oauth2-based-connections-via-peaka for more information.\n\n**Example**:\n- POSTGRES Connection Configuration:\n\nGET /connections/config endpoint displays all of the connection types.\n\nGET /connection/config/POSTGRES endpoint displays the POSTGRES connection configuration.\n\nThe definition of the POSTGRES connection configuration is as follows:\n``` json\n    {\n        \"connectionType\": \"POSTGRES\",\n        \"connectionTypeLabel\": \"PostgreSQL\",\n        \"name\": \"PostgreSQL\",\n        \"authorizationType\": \"custom\",\n        \"credentialSchemaType\": \"postgres_credential_schema\",\n        \"category\": \"Database\",\n        \"configuration\": [\n            {\n                \"fieldName\": \"url\",\n                \"fieldType\": \"text\",\n                \"required\": true,\n                \"description\": \"URL\"\n            },\n            {\n                \"fieldName\": \"port\",\n                \"fieldType\": \"number\",\n                \"required\": true,\n                \"description\": \"Port\"\n            },\n            {\n                \"fieldName\": \"user\",\n                \"fieldType\": \"text\",\n                \"required\": true,\n                \"description\": \"User\"\n            },\n            {\n                \"fieldName\": \"password\",\n                \"fieldType\": \"text\",\n                \"required\": true,\n                \"description\": \"Password\"\n            },\n            {\n                \"fieldName\": \"databaseName\",\n                \"fieldType\": \"text\",\n                \"required\": true,\n                \"description\": \"Database Name\"\n            },\n            {\n                \"fieldName\": \"useSsl\",\n                \"fieldType\": \"boolean\",\n                \"required\": true,\n                \"description\": \"Use SSL\"\n            }\n        ],\n        \"documentationUrl\": \"https://docs.peaka.com/integrations/postgresql\"\n    }\n```\n\nAccording to the POSTGRES connection configuration, the connection request should include the following parameters (respecting to the required flag):\n- url: URL of the host IP or domain\n- port: Port number\n- user: User of the database\n- password: Password of the user\n- databaseName: Name of the database\n- useSsl: Boolean value to indicate whether to use SSL\n\n``` json\n{\n    \"name\": \"examplePostgre\",\n    \"type\": \"POSTGRES\",\n    \"credential\": {\n        \"url\": \"<host ip or domain>\",\n        \"port\": 5432,\n        \"user\": \"userOfYourDB\",\n        \"password\": \"passwordOfUser\",\n        \"databaseName\": \"yourDBName\",\n        \"useSsl\": false\n    }\n}\n```\n\n",
        "operationId" : "createConnection",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "requestBody" : {
          "description" : "Connection Request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionRequest"
              },
              "examples" : {
                "Stripe Connection Request" : {
                  "description" : "Sample Stripe Connection parameters",
                  "value" : {
                    "name" : "exampleStripeConnection21",
                    "type" : "stripe",
                    "credential" : {
                      "token" : "<stripeToken>"
                    }
                  }
                },
                "Connection (Oauth2) Request With Redirect Url " : {
                  "description" : "Sample Oauth2 Connection with redirect url parameters",
                  "value" : {
                    "name" : "exampleOauthConnection",
                    "type" : "google_analytics",
                    "credential" : {
                      "clientId" : "<googleOauthAppClientId>",
                      "clientSecret" : "<googleOauthAppClientSecret>"
                    },
                    "connectionCallback" : "<connectionCallbackUrl>"
                  }
                },
                "HubSpot Connection (Oauth2) Request" : {
                  "description" : "Sample HubSpot Connection parameters",
                  "value" : {
                    "name" : "exampleHubspotConnection",
                    "type" : "hubspot",
                    "credential" : {
                      "clientId" : "<hubspotOauthAppClientId>",
                      "clientSecret" : "<hubspotOauthAppClientSecret>",
                      "refreshToken" : "<OauthRefreshToken>"
                    }
                  }
                },
                "AirTable Connection Request" : {
                  "description" : "Sample AirTable Connection parameters",
                  "value" : {
                    "name" : "exampleAirtableConnection",
                    "type" : "airtable",
                    "credential" : {
                      "personalAccessToken" : "<yourAirtableApiKey>"
                    }
                  }
                },
                "PostgreSQL Connection Request" : {
                  "description" : "PostgreSQL Connection Request",
                  "value" : {
                    "name" : "examplePostgre",
                    "type" : "POSTGRES",
                    "credential" : {
                      "url" : "<host ip or domain>",
                      "port" : 5432,
                      "user" : "userOfYourDB",
                      "password" : "passwordOfUser",
                      "databaseName" : "yourDBName",
                      "useSsl" : false
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Connection created successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                },
                "examples" : {
                  "Successful Stripe Connection" : {
                    "description" : "Sample Stripe Connection",
                    "value" : {
                      "id" : "6243f42a-42d0-4821-a90f-763cda6cda50",
                      "name" : "exampleStripeConnection21",
                      "type" : "stripe"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/{projectId}/oauth2" : {
      "post" : {
        "tags" : [ "Connections" ],
        "summary" : "Oauth2 Callback",
        "description" : "This callback/webhook is used while creating a new connection with Oauth2. See https://docs.peaka.com/how-to-guides/how-to-create-oauth2-based-connections-via-peaka for more information.",
        "operationId" : "oauth2Callback",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "requestBody" : {
          "description" : "Oauth2 Callback Body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Oauth2Callback"
              },
              "examples" : {
                "Oauth2 Callback Request" : {
                  "description" : "Oauth2 Callback Request",
                  "value" : {
                    "queryParameters" : "code=1234&state=xyz&param1=value1&param2=value2"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Connection created successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                },
                "examples" : {
                  "Successful Oauth2 Connection" : {
                    "description" : "Sample Google Analytics Connection",
                    "value" : {
                      "id" : "6243f42a-42d0-4821-a90f-763cda6cda50",
                      "name" : "exampleOauth2Connection",
                      "type" : "google_analytics"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/{projectId}/{connectionId}" : {
      "get" : {
        "tags" : [ "Connections" ],
        "summary" : "Get Connection",
        "description" : "Returns details of a specified Connection.\n",
        "operationId" : "getConnection",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "connectionId",
          "in" : "path",
          "description" : "ID of the connection",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8db17e23-29de-4dab-8886-af9717e0e742"
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Connection by ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                },
                "examples" : {
                  "Airtable Connection" : {
                    "description" : "Sample Airtable Connection",
                    "value" : {
                      "id" : "8db17e23-29de-4dab-8886-af9717e0e742",
                      "name" : "airtable2",
                      "type" : "airtable"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "put" : {
        "tags" : [ "Connections" ],
        "summary" : "Update Connection",
        "description" : "Updates the specified Connection. You can modify the name, credentials, or other parameters. The request body follows the same structure as the Create Connection endpoint.\n",
        "operationId" : "updateConnection",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "connectionId",
          "in" : "path",
          "description" : "ID of the connection",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8db17e23-29de-4dab-8886-af9717e0e742"
        } ],
        "requestBody" : {
          "description" : "Connection Request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionRequest"
              },
              "examples" : {
                "HubSpot Connection Request with Oauth" : {
                  "description" : "Sample HubSpot Connection parameters",
                  "value" : {
                    "name" : "exampleHubspotConnection",
                    "type" : "hubspot",
                    "credential" : {
                      "clientId" : "15d6b8c5-48ea-4955-8ce5-d04bb9adad25",
                      "clientSecret" : "64d70b56-ae19-4fee-9fa2-3e9113bcb202",
                      "refreshToken" : "eu1-eae3-1af4-583d-91d4-f6414699feea"
                    }
                  }
                },
                "Stripe Connection Request" : {
                  "description" : "Sample Stripe Connection parameters",
                  "value" : {
                    "name" : "exampleStripeConnection21",
                    "type" : "stripe",
                    "credential" : {
                      "token" : "<stripeToken>"
                    }
                  }
                },
                "AirTable Connection Request" : {
                  "description" : "Sample AirTable Connection parameters",
                  "value" : {
                    "name" : "exampleAirtableConnection",
                    "type" : "airtable",
                    "credential" : {
                      "personalAccessToken" : "<yourAirtableApiKey>"
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Connection updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                },
                "examples" : {
                  "Updated Connection" : {
                    "description" : "Updated Connection",
                    "value" : {
                      "id" : "8db17e23-29de-4dab-8886-af9717e0e742",
                      "name" : "exampleAirtableConnection",
                      "type" : "airtable"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "delete" : {
        "tags" : [ "Connections" ],
        "summary" : "Delete Connection",
        "description" : "Deletes the specified Connection. Any catalogs using this connection will lose access to their data source.\n",
        "operationId" : "deleteConnection",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "connectionId",
          "in" : "path",
          "description" : "ID of the connection",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8db17e23-29de-4dab-8886-af9717e0e742"
        } ],
        "responses" : {
          "200" : {
            "description" : "Connection deleted successfully"
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/connections/{projectId}/{connectionId}/detail" : {
      "get" : {
        "tags" : [ "Connections" ],
        "summary" : "Get Connection Detail",
        "description" : "Get connection detail by ID. Returns only non-sensitive information.",
        "operationId" : "getConnectionView",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "connectionId",
          "in" : "path",
          "description" : "ID of the connection",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "8db17e23-29de-4dab-8886-af9717e0e742"
        } ],
        "responses" : {
          "200" : {
            "description" : "Connection Detail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : true,
                  "description" : "Credential object for the connection.\n\n Its structure is dependent on the connection type and can be fetched by following url: /connections/config"
                },
                "examples" : {
                  "Connection Detail" : {
                    "description" : "Sample Bullhorn Connection parameters",
                    "value" : {
                      "type" : "bullhorn",
                      "restApiTokenUrl" : "http://a.b.c",
                      "swimlane" : "123",
                      "corpToken" : "123"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "List Catalogs",
        "description" : "Returns all catalogs registered in the specified project. Each catalog represents a data source connected to Peaka, such as Airtable, Stripe, or an internal Peaka storage. Built-in catalog types like `internal` (Peaka Tables and BI Tables) and `query` (Peaka Queries) are always present.",
        "operationId" : "listCatalogs",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Catalog"
                  }
                },
                "examples" : {
                  "List Catalogs" : {
                    "description" : "List Catalogs",
                    "value" : [ {
                      "id" : "1",
                      "name" : "peaka",
                      "displayName" : "Peaka",
                      "catalogType" : "internal",
                      "connectionId" : null
                    }, {
                      "id" : "2",
                      "name" : "peaka",
                      "displayName" : "Peaka Query",
                      "catalogType" : "query",
                      "connectionId" : null
                    }, {
                      "id" : "555414570395501064",
                      "name" : "examplename34",
                      "displayName" : "exampleName34",
                      "catalogType" : "stripe",
                      "connectionId" : "fe47b030-3718-4537-a6ba-eaa93c7204ee"
                    }, {
                      "id" : "555611268656923356",
                      "name" : "examplename35",
                      "displayName" : "exampleName35",
                      "catalogType" : "segment",
                      "connectionId" : "fe47b030-3718-4537-a6ba-eaa93c7204ee"
                    }, {
                      "id" : "625151643029078208",
                      "name" : "exampleairtablecatalog2",
                      "displayName" : "exampleAirtableCatalog2",
                      "catalogType" : "airtable",
                      "connectionId" : "8db17e23-29de-4dab-8886-af9717e0e742"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "post" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "Create Catalog",
        "description" : "Creates a new catalog in the specified project. A catalog represents a connected data source — such as Airtable, Stripe, or Google Sheets — that exposes its schemas and tables for querying within Peaka. Requires a `name` and a `connectionId` referencing an existing connection. Some connectors accept additional `extraParameters` (e.g., Google Sheets requires specifying which sheets to include).",
        "operationId" : "createCatalog",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        } ],
        "requestBody" : {
          "description" : "Catalog Request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CatalogRequest"
              },
              "examples" : {
                "Create Airtable Catalog" : {
                  "description" : "Create Airtable Catalog",
                  "value" : {
                    "name" : "exampleAirtableCatalog",
                    "connectionId" : "8db17e23-29de-4dab-8886-af9717e0e742"
                  }
                },
                "Create GoogleSheets Catalog" : {
                  "description" : "Create GoogleSheets Catalog",
                  "value" : {
                    "name" : "exampleGoogleSheetsCatalog",
                    "connectionId" : "p3fb17l83-g9de-46mb-8823-yu9717e0ekl8",
                    "extraParameters" : {
                      "sheets" : [ {
                        "id" : "1zBlTlAarZ94Z-xbo8T-GZEckV93VGSse7qq0_S0Kdzc",
                        "name" : "Customers"
                      }, {
                        "id" : "glkuldqwerqwAarZ94Z-xbo8T-GdfhsdgVGSse7qq0_S0Kdzc",
                        "name" : "Sales"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "Bad Request" : {
                    "description" : "Bad Request",
                    "value" : {
                      "errorCode" : 100,
                      "message" : "There are already a catalog with same name!!"
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Catalog created successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Catalog"
                },
                "examples" : {
                  "Create Airtable Catalog" : {
                    "description" : "Create Airtable Catalog",
                    "value" : {
                      "id" : "626654862255325504",
                      "name" : "exampleairtablecatalog",
                      "displayName" : "exampleAirtableCatalog",
                      "catalogType" : "airtable",
                      "connectionId" : "8db17e23-29de-4dab-8886-af9717e0e742"
                    }
                  },
                  "Create Stripe Catalog" : {
                    "description" : "Create Stripe Catalog",
                    "value" : {
                      "id" : "626654862255325504",
                      "name" : "exampleStripeCatalog",
                      "displayName" : "exampleStripeCatalog",
                      "catalogType" : "stripe",
                      "connectionId" : "8db17e23-29de-4dab-8886-af9717e0e742"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "Read Catalog",
        "description" : "Retrieves the details of a single catalog by its ID. Returns the catalog's name, display name, catalog type, and the associated connection ID.",
        "operationId" : "readCatalog",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Catalog"
                },
                "examples" : {
                  "Read Catalog" : {
                    "description" : "Read Catalog",
                    "value" : {
                      "id" : "627249916703408649",
                      "name" : "exampleairtablecatalog",
                      "displayName" : "exampleAirtableCatalog",
                      "catalogType" : "airtable",
                      "connectionId" : "8db17e23-29de-4dab-8886-af9717e0e74311"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      },
      "delete" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "Delete Catalog",
        "description" : "Permanently removes the specified catalog from the project. This disconnects the underlying data source and makes all its schemas and tables unavailable for querying. This action is irreversible.",
        "operationId" : "deleteCatalog",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        } ],
        "responses" : {
          "200" : {
            "description" : "Catalog deleted successfully"
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}/schemas" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "List Schemas",
        "description" : "Returns all schemas available under the specified catalog. Schemas are logical groupings of tables within a catalog. For external connectors, schemas typically correspond to databases or namespaces exposed by the data source.",
        "operationId" : "listSchemas",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Schema"
                  }
                },
                "examples" : {
                  "List Schemas" : {
                    "description" : "List Schemas",
                    "value" : [ {
                      "catalogId" : "544639856899260964",
                      "schemaName" : "testSchema"
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "List Tables",
        "description" : "Lists all tables available under the specified schema of a catalog. Each table entry includes its catalog and schema context along with caching metadata (`isCacheable`, `isDynamicTable`, `isCached`). For the internal catalog, this includes [Peaka Tables](https://docs.peaka.com/connecting-your-data/peaka-table) and [Peaka BI Tables](https://docs.peaka.com/connecting-your-data/peaka-big-table).",
        "operationId" : "listTables_1",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        }, {
          "name" : "schemaName",
          "in" : "path",
          "description" : "Name of the schema",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "public"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Table"
                  }
                },
                "examples" : {
                  "List Tables" : {
                    "description" : "List Tables",
                    "value" : [ {
                      "catalogId" : "544639856899260964",
                      "catalogName" : "airtable2",
                      "schemaName" : "test",
                      "tableName" : "projects",
                      "isCacheable" : false,
                      "isDynamicTable" : false,
                      "isCached" : false
                    }, {
                      "catalogId" : "544639856899260964",
                      "catalogName" : "airtable2",
                      "schemaName" : "test",
                      "tableName" : "testTable",
                      "isCacheable" : false,
                      "isDynamicTable" : false,
                      "isCached" : false
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables/{tableName}/columns" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "List Columns",
        "description" : "Lists all columns for a specific table within a catalog. Returns full column metadata including name, data type, display name, default value, and constraints (nullability, uniqueness). Some connectors expose additional virtual columns (prefixed with `_q_`) that can be used to pass query-time parameters to the data source.",
        "operationId" : "listColumns_1",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        }, {
          "name" : "schemaName",
          "in" : "path",
          "description" : "Name of the schema",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "public"
        }, {
          "name" : "tableName",
          "in" : "path",
          "description" : "Name of the table",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "actor"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ColumnDetail"
                  }
                },
                "examples" : {
                  "List Columns" : {
                    "description" : "List Columns",
                    "value" : [ {
                      "name" : "id",
                      "dataType" : "bigint",
                      "displayName" : "id",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "hs_object_id",
                      "dataType" : "varchar",
                      "displayName" : "hs_object_id",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "email",
                      "dataType" : "varchar",
                      "displayName" : "email",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "name",
                      "dataType" : "varchar",
                      "displayName" : "name",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "domain",
                      "dataType" : "varchar",
                      "displayName" : "domain",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "industry",
                      "dataType" : "varchar",
                      "displayName" : "industry",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "phone",
                      "dataType" : "varchar",
                      "displayName" : "phone",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "country",
                      "dataType" : "varchar",
                      "displayName" : "country",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "state",
                      "dataType" : "varchar",
                      "displayName" : "state",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "city",
                      "dataType" : "varchar",
                      "displayName" : "city",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "description",
                      "dataType" : "varchar",
                      "displayName" : "description",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "createdate",
                      "dataType" : "timestamp(6)",
                      "displayName" : "createdate",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "hs_lastmodifieddate",
                      "dataType" : "timestamp(6)",
                      "displayName" : "hs_lastmodifieddate",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "properties",
                      "dataType" : "json",
                      "displayName" : "properties",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "propertieswithhistory",
                      "dataType" : "json",
                      "displayName" : "propertieswithhistory",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "createdat",
                      "dataType" : "timestamp(6)",
                      "displayName" : "createdat",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "updatedat",
                      "dataType" : "timestamp(6)",
                      "displayName" : "updatedat",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "archived",
                      "dataType" : "boolean",
                      "displayName" : "archived",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "archivedat",
                      "dataType" : "timestamp(6)",
                      "displayName" : "archivedat",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "associations",
                      "dataType" : "json",
                      "displayName" : "associations",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_pagination_anchor",
                      "dataType" : "varchar",
                      "displayName" : "_q_pagination_anchor",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_limit",
                      "dataType" : "bigint",
                      "displayName" : "_q_limit",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_offset",
                      "dataType" : "varchar",
                      "displayName" : "_q_offset",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_properties",
                      "dataType" : "json",
                      "displayName" : "_q_properties",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_properties_with_history",
                      "dataType" : "varchar",
                      "displayName" : "_q_properties_with_history",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_associations",
                      "dataType" : "varchar",
                      "displayName" : "_q_associations",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    }, {
                      "name" : "_q_archived",
                      "dataType" : "boolean",
                      "displayName" : "_q_archived",
                      "defaultValue" : null,
                      "isNotNull" : false,
                      "isUnique" : false
                    } ]
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables/{tableName}/isCached" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "Table is Cached",
        "description" : "Checks whether the specified table has an active cache in Peaka. When a table is cached, its data is stored locally in Peaka, enabling significantly faster query performance compared to live queries against the original data source. Returns `isCached: true` if a cache is currently active, or `false` otherwise.",
        "operationId" : "isCached",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        }, {
          "name" : "schemaName",
          "in" : "path",
          "description" : "Name of the schema",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "public"
        }, {
          "name" : "tableName",
          "in" : "path",
          "description" : "Name of the table",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "actor"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableCacheResult"
                },
                "examples" : {
                  "Table is Cached" : {
                    "description" : "Table is Cached",
                    "value" : {
                      "isCached" : true
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint" : {
          "content" : "<span style={{display: \"flex\", gap: \"10px\", flexDirection: \"row\", alignItems: \"center\"}}>\n    <img src=\"https://cdn.peaka.com/badges/partner-api-key-badge.png\"/>\n    <img src=\"https://cdn.peaka.com/badges/project-api-key-badge.png\"/>\n</span>\n"
        }
      }
    },
    "/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables/{tableName}/statistics" : {
      "get" : {
        "tags" : [ "Data -- Catalogs" ],
        "summary" : "Table Statistics",
        "description" : "Returns statistical metadata for the specified table. Includes per-column `distinctFraction` values, which represent the estimated fraction of distinct values in a column relative to the total row count. These statistics are used internally by Peaka's query optimizer to improve query planning and execution performance.",
        "operationId" : "getTableStatistics",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the project",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "mtKDhe1U"
        }, {
          "name" : "catalogId",
          "in" : "path",
          "description" : "ID of the catalog",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 846085284821991568
        }, {
          "name" : "schemaName",
          "in" : "path",
          "description" : "Name of the schema",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "public"
        }, {
          "name" : "tableName",
          "in" : "path",
[...]
