{
  "openapi": "3.0.0",
  "info": {
    "title": "Partner API",
    "description": "**Overview:**\n\nThe Peaka Partner API is a powerful gateway designed for our esteemed partners to seamlessly integrate Peaka's features into their own applications and services. With secure access provided through a unique API key, partners can leverage the full potential of Peaka's capabilities to enhance their user experience and streamline operations.\n\n**Key Features:**\n\n- **Secure Authentication:** Access the API with confidence using the apiKey provided by Peaka, ensuring secure and authorized interactions.\n    \n- **Robust Functionality:** Utilize a wide range of functions, from data retrieval to executing complex operations, all tailored to meet the diverse needs of our partners.\n    \n- **Real-Time Data Access:** Retrieve up-to-the-minute information to keep your services synchronized with the latest developments within Peaka.\n    \n- **Customizable Integration:** Tailor the API's extensive features to fit your platform's specific requirements, providing a personalized experience for your users.\n    \n- **Scalability:** Designed to handle requests at scale, the Peaka Partner API can accommodate growing traffic as your business expands.\n    \n- **Dedicated Support:** Benefit from Peaka's commitment to partnership success with dedicated support for API integration and usage.\n    \n\n**Getting Started:**\n\n1. **API Key Activation:** Upon partnership confirmation, you will receive your unique apiKey, which is essential for all API requests.\n    \n2. **Documentation:** Comprehensive documentation is provided to guide you through the integration process, detailing available endpoints, request/response formats, and best practices.\n    \n\n**Support and Assistance:**\n\nOur dedicated team is available to assist you throughout the integration process and beyond. Should you have any questions or require technical support, please reach out to our partner support channel.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://partner.peaka.studio" }],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } }
  },
  "security": [{ "bearerAuth": [] }],
  "tags": [
    {
      "name": "Projects",
      "description": "The \"Project\" folder within the Peaka Partner API is a dedicated space for partners to perform Create, Read, Update, and Delete (CRUD) operations on their projects. This functionality is crucial for partners to manage the lifecycle of their integrations with Peaka's services effectively."
    },
    {
      "name": "Data",
      "description": "Peaka Data contains operations on data.\n\nCRUD operations for Catalogs / Queries / Cache.\n\n- A project should be created before any data operation.\n- There are built-in catalogs: internal and query. You should create catalogs for other Data Sources like Stripe, HubSpot, external Postgres, etc.\n- In order to create catalog for many 3rd party SaaS Data Sources, you should first create a connection for that Data Source. See the \"Create a Catalog\" and the \"Create a Connection\" request examples.\n- Tables (either internal or 3rd party Saas) can be queried by \"Execute a Query\" endpoint without creating a query."
    },
    { "name": "Data > Cache" },
    {
      "name": "Data > Catalogs",
      "description": "Catalogs represent data sources.\n\nThere are two built-in catalogs:\n\n- internal (id: 1)\n    \n- query (id: 2)\n    \n\nAfter you create a catalog, the system will return a unique id for that catalog."
    },
    {
      "name": "Data > Query",
      "description": "Queries represent SQL queries.\n\nIt is not required to create a query for simple table/bitable queries like 'select \\* from hubspot.crm.contacts'.\n\nAlso for simple filters/projections/limits, you can use execute query endpoint without creating new queries."
    },
    { "name": "Data > Internal Tables" },
    {
      "name": "Connections",
      "description": "A Connection represents an authorization (authentication) parameters to a Connector.\n\nA connection should be created before a catalog has created.\n\nEach connection type (stripe, hubspot, etc.) has its own credential object. See examples under the \"Create a Connection\" request."
    }
  ],
  "paths": {
    "/api/v1/projects": {
      "post": {
        "tags": ["Projects"],
        "summary": "Create a Project",
        "description": "### Add Project\n\nThis endpoint allows you to create a new project.\n\n#### Request Body\n\n- name (string, required): The name of the project.\n    \n\n#### Response\n\n- id (string): The unique identifier of the project.\n    \n- owner (string): The owner of the project.\n    \n- name (string): The name of the project.\n    \n- description (string): The description of the project.\n    \n- domain (string): The domain of the project.\n    \n- previewURL (string): The URL for previewing the project.\n    \n- version (integer): The version of the project.\n    \n- deleted (boolean): Indicates if the project is deleted.\n    \n- parent (string): The parent project, if any.\n    \n- invitedBy (string): The user who invited to the project.\n    \n- createdAt (string): The timestamp when the project was created.\n    \n- updatedAt (string): The timestamp when the project was last updated.\n    \n- deletedAt (string): The timestamp when the project was deleted, if applicable.\n    \n- disabled (boolean): Indicates if the project is disabled.\n    \n- internalApp (boolean): Indicates if the project is an internal application.\n    \n- template (boolean): Indicates if the project is a template.\n    \n- roles (array of strings): The roles associated with the project.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": { "name": "<Application Name>" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, no-store, max-age=0, must-revalidate"
                }
              },
              "Content-Length": {
                "schema": { "type": "integer", "example": "463" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Expires": { "schema": { "type": "integer", "example": "0" } },
              "Pragma": {
                "schema": { "type": "string", "example": "no-cache" }
              },
              "Referrer-Policy": {
                "schema": { "type": "string", "example": "no-referrer" }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000 ; includeSubDomains"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Access-Control-Request-Headers"
                }
              },
              "X-Content-Type-Options": {
                "schema": { "type": "string", "example": "nosniff" }
              },
              "X-Frame-Options": {
                "schema": { "type": "string", "example": "DENY" }
              },
              "X-Xss-Protection": {
                "schema": { "type": "integer", "example": "0" }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 07:50:27 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "IqZOWGg1",
                  "owner": "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                  "name": "Sample Application Name 2",
                  "description": null,
                  "domain": "sampleapplicationname2-qxfy",
                  "previewURL": "https://sampleapplicationname2-qxfy--test.peaka.host",
                  "version": 0,
                  "deleted": false,
                  "parent": null,
                  "invitedBy": null,
                  "createdAt": "2024-01-23T07:50:26.639568137Z",
                  "updatedAt": "2024-01-23T07:50:26.639568137Z",
                  "deletedAt": null,
                  "disabled": false,
                  "internalApp": false,
                  "template": false,
                  "roles": ["owner"]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Projects"],
        "summary": "List all projects",
        "description": "This endpoint makes an HTTP GET request to retrieve a list of projects. The response will include an array of objects, where each object represents a project with details such as ID, owner, name, description, domain, preview URL, version, and other attributes.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, no-store, max-age=0, must-revalidate"
                }
              },
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Length": {
                "schema": { "type": "integer", "example": "3861" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Expires": { "schema": { "type": "integer", "example": "0" } },
              "Pragma": {
                "schema": { "type": "string", "example": "no-cache" }
              },
              "Referrer-Policy": {
                "schema": { "type": "string", "example": "no-referrer" }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000 ; includeSubDomains"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Access-Control-Request-Headers"
                }
              },
              "X-Content-Type-Options": {
                "schema": { "type": "string", "example": "nosniff" }
              },
              "X-Frame-Options": {
                "schema": { "type": "string", "example": "DENY" }
              },
              "X-Xss-Protection": {
                "schema": { "type": "integer", "example": "0" }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 07:51:23 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  {
                    "id": "ZEEg763C",
                    "owner": "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                    "name": "Data Action Test",
                    "description": null,
                    "domain": "dataactiontest-deil",
                    "previewURL": "https://dataactiontest-deil--test.peaka.host",
                    "version": 0,
                    "deleted": false,
                    "parent": null,
                    "invitedBy": null,
                    "createdAt": "2023-05-17T10:57:07.729260015Z",
                    "updatedAt": "2023-05-17T10:57:07.729260015Z",
                    "deletedAt": null,
                    "disabled": false,
                    "internalApp": false,
                    "template": false,
                    "roles": ["owner"]
                  },
                  {
                    "id": "SksnYuxH",
                    "owner": "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                    "name": "Anapp23334",
                    "description": null,
                    "domain": "anapp2-rfto",
                    "previewURL": "https://anapp2-rfto--test.peaka.host",
                    "version": 0,
                    "deleted": false,
                    "parent": null,
                    "invitedBy": null,
                    "createdAt": "2023-08-21T11:09:04.699714310Z",
                    "updatedAt": "2023-08-21T15:17:20.986118912Z",
                    "deletedAt": null,
                    "disabled": false,
                    "internalApp": false,
                    "template": false,
                    "roles": ["owner"]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Get a Project",
        "description": "This endpoint makes an HTTP GET request to retrieve details of a specific project identified by the projectId parameter. The response will include various details about the project such as its ID, owner, name, description, domain, preview URL, version, deletion status, creation and update timestamps, and other attributes related to the project.\n\n### Response\n\n- `id` (string): The unique identifier of the project.\n- `owner` (string): The identifier of the user who owns the project.\n- `name` (string): The name of the project.\n- `description` (string): The description of the project.\n- `domain` (string): The domain associated with the project.\n- `previewURL` (string): The URL for previewing the project.\n- `version` (integer): The version of the project.\n- `deleted` (boolean): Indicates whether the project is deleted or not.\n- `parent` (string or null): The identifier of the parent project, if any.\n- `invitedBy` (string or null): The identifier of the user who invited to the project, if applicable.\n- `createdAt` (string): The timestamp when the project was created.\n- `updatedAt` (string): The timestamp when the project was last updated.\n- `deletedAt` (string or null): The timestamp when the project was deleted, if applicable.\n- `disabled` (boolean): Indicates whether the project is disabled or not.\n- `internalApp` (boolean): Indicates whether the project is an internal application or not.\n- `template` (boolean): Indicates whether the project is a template or not.\n- `roles` (array of strings): The roles assigned to the project.\n    \n\n### Example Response\n\n``` json\n{\n    \"id\": \"IqZOWGg1\",\n    \"owner\": \"1673d60f-a0ea-41f4-9420-c91dbc2864f5\",\n    \"name\": \"Sample Application Name 2\",\n    \"description\": null,\n    \"domain\": \"sampleapplicationname2-qxfy\",\n    \"previewURL\": \"https://sampleapplicationname2-qxfy--test.peaka.host\",\n    \"version\": 0,\n    \"deleted\": false,\n    \"parent\": null,\n    \"invitedBy\": null,\n    \"createdAt\": \"2024-01-23T07:50:26.639568137Z\",\n    \"updatedAt\": \"2024-01-23T07:50:26.639568137Z\",\n    \"deletedAt\": null,\n    \"disabled\": false,\n    \"internalApp\": false,\n    \"template\": false,\n    \"roles\": [\n        \"owner\"\n    ]\n}\n\n ```",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true,
            "example": "IqZOWGg1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, no-store, max-age=0, must-revalidate"
                }
              },
              "Content-Length": {
                "schema": { "type": "integer", "example": "463" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Expires": { "schema": { "type": "integer", "example": "0" } },
              "Pragma": {
                "schema": { "type": "string", "example": "no-cache" }
              },
              "Referrer-Policy": {
                "schema": { "type": "string", "example": "no-referrer" }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000 ; includeSubDomains"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Access-Control-Request-Headers"
                }
              },
              "X-Content-Type-Options": {
                "schema": { "type": "string", "example": "nosniff" }
              },
              "X-Frame-Options": {
                "schema": { "type": "string", "example": "DENY" }
              },
              "X-Xss-Protection": {
                "schema": { "type": "integer", "example": "0" }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 07:53:39 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "IqZOWGg1",
                  "owner": "1673d60f-a0ea-41f4-9420-c91dbc2864f5",
                  "name": "Sample Application Name 2",
                  "description": null,
                  "domain": "sampleapplicationname2-qxfy",
                  "previewURL": "https://sampleapplicationname2-qxfy--test.peaka.host",
                  "version": 0,
                  "deleted": false,
                  "parent": null,
                  "invitedBy": null,
                  "createdAt": "2024-01-23T07:50:26.639568137Z",
                  "updatedAt": "2024-01-23T07:50:26.639568137Z",
                  "deletedAt": null,
                  "disabled": false,
                  "internalApp": false,
                  "template": false,
                  "roles": ["owner"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Projects"],
        "summary": "Delete Project",
        "description": "Delete given project.",
        "parameters": [
          {
            "name": "hardDelete",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "By default, a delete operation is a soft delete. The project's deleted flag is set to true. The soft deleted projects will be hard deleted after a week.\nA Hard delete operation  removes the project immediately and permanently.",
            "example": "false"
          },
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true,
            "example": "IqZOWGg1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, no-store, max-age=0, must-revalidate"
                }
              },
              "Content-Length": {
                "schema": { "type": "integer", "example": "0" }
              },
              "Expires": { "schema": { "type": "integer", "example": "0" } },
              "Pragma": {
                "schema": { "type": "string", "example": "no-cache" }
              },
              "Referrer-Policy": {
                "schema": { "type": "string", "example": "no-referrer" }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000 ; includeSubDomains"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Access-Control-Request-Headers"
                }
              },
              "X-Content-Type-Options": {
                "schema": { "type": "string", "example": "nosniff" }
              },
              "X-Frame-Options": {
                "schema": { "type": "string", "example": "DENY" }
              },
              "X-Xss-Protection": {
                "schema": { "type": "integer", "example": "0" }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 07:54:20 GMT"
                }
              }
            },
            "content": {
              "text/plain": { "schema": { "type": "string" }, "example": null }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/cache": {
      "post": {
        "tags": ["Data > Cache"],
        "summary": "Create a Cache",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "catalogId": "<catalogId>",
                  "schemaName": "<schemaName>",
                  "tableName": "<tableName>",
                  "schedule": {
                    "type": "<expressionType>",
                    "expression": "<scheduleExpression"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": { "schema": { "type": "string" }, "example": null }
            }
          }
        }
      },
      "get": {
        "tags": ["Data > Cache"],
        "summary": "List Caches",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/cache/{cacheId}": {
      "delete": {
        "tags": ["Data > Cache"],
        "summary": "Delete a Cache",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "cacheId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/cache/{cacheId}/update": {
      "post": {
        "tags": ["Data > Cache"],
        "summary": "Start/Update a Cache",
        "requestBody": { "content": {} },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "cacheId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/cache/{cacheId}/rebuild": {
      "post": {
        "tags": ["Data > Cache"],
        "summary": "Rebuild a Cache",
        "requestBody": { "content": {} },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "cacheId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/cache/{cacheId}/status": {
      "get": {
        "tags": ["Data > Cache"],
        "summary": "Get Status of a Cache",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "cacheId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": {} }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/catalogs": {
      "post": {
        "tags": ["Data > Catalogs"],
        "summary": "Create a Catalog",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "<name>",
                  "catalogType": "<catalogType>",
                  "props": { "connectionId": "<connectionId>" }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "434" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 12:22:56 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "544680507732919020",
                  "name": "cat_45927139_e205_4f19_81d8_67e5c748c611",
                  "displayName": "exampleAirtableCatalog2",
                  "queryName": "exampleairtablecatalog2",
                  "type": "GENERIC_REST",
                  "props": {
                    "type": "GENERIC_REST",
                    "id": "544680507732919020",
                    "name": "cat_45927139_e205_4f19_81d8_67e5c748c611",
                    "customerUnderscoreSecret": "airtable",
                    "secret": "mtKDhe1U",
                    "token": "8db17e23-29de-4dab-8886-af9717e0e742",
                    "extraDashParams": null
                  },
                  "subType": "airtable"
                }
              }
            }
          },
          "default": {
            "description": "default",
            "content": {
              "text/plain": { "schema": { "type": "string" }, "example": null }
            }
          }
        }
      },
      "get": {
        "tags": ["Data > Catalogs"],
        "summary": "List Catalogs",
        "description": "This endpoint makes an HTTP GET request to retrieve catalogs for a specific project. It is accessed by appending the project ID to the base URL. The request does not require a request body.\n\nThe response to the request is a JSON array with a 200 status code. Each object in the array represents a catalog and includes properties such as ID, name, display name, query name, type, props, and subType.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 12:23:47 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": { "type": "string", "example": "chunked" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  {
                    "id": "1",
                    "name": "cat_00000000_0000_0000_0000_000000000000",
                    "displayName": "Peaka",
                    "queryName": "peaka",
                    "type": "INTERNAL",
                    "props": {
                      "type": "INTERNAL",
                      "id": "1",
                      "name": "cat_00000000_0000_0000_0000_000000000000"
                    },
                    "subType": "internal"
                  },
                  {
                    "id": "2",
                    "name": "query",
                    "displayName": "Peaka Query",
                    "queryName": "peaka",
                    "type": "INTERNAL",
                    "props": { "type": "INTERNAL", "id": "2", "name": "peaka" },
                    "subType": "query"
                  },
                  {
                    "id": "374338329178538856",
                    "name": "cat_8b23dd38_4743_4660_8b2c_deb9a2ec6930",
                    "displayName": "Stripe Code2",
                    "queryName": "stripe_code2",
                    "type": "GENERIC_REST",
                    "props": {
                      "type": "GENERIC_REST",
                      "id": "374338329178538856",
                      "name": "cat_8b23dd38_4743_4660_8b2c_deb9a2ec6930",
                      "customerUnderscoreSecret": "stripe",
                      "secret": "mtKDhe1U",
                      "token": "c6883de8-78ab-49fb-93c0-70a13652a341",
                      "extraDashParams": null
                    },
                    "subType": "stripe"
                  },
                  {
                    "id": "544639856899260964",
                    "name": "cat_3111f4aa_bbff_44cd_910f_cb72668b535a",
                    "displayName": "airtable2",
                    "queryName": "airtable2",
                    "type": "AIRTABLE",
                    "props": {
                      "type": "AIRTABLE",
                      "id": "544639856899260964",
                      "name": "cat_3111f4aa_bbff_44cd_910f_cb72668b535a",
                      "secret": "mtKDhe1U",
                      "token": "8db17e23-29de-4dab-8886-af9717e0e742"
                    },
                    "subType": "airtable"
                  },
                  {
                    "id": "544679326776296072",
                    "name": "cat_16c24785_bf36_4e00_90df_e8803c1c58f3",
                    "displayName": "exampleAirtableCatalog",
                    "queryName": "exampleairtablecatalog",
                    "type": "GENERIC_REST",
                    "props": {
                      "type": "GENERIC_REST",
                      "id": "544679326776296072",
                      "name": "cat_16c24785_bf36_4e00_90df_e8803c1c58f3",
                      "customerUnderscoreSecret": "airtable",
                      "secret": "mtKDhe1U",
                      "token": "8db17e23-29de-4dab-8886-af9717e0e742",
                      "extraDashParams": null
                    },
                    "subType": "airtable"
                  },
                  {
                    "id": "544680507732919020",
                    "name": "cat_45927139_e205_4f19_81d8_67e5c748c611",
                    "displayName": "exampleAirtableCatalog2",
                    "queryName": "exampleairtablecatalog2",
                    "type": "GENERIC_REST",
                    "props": {
                      "type": "GENERIC_REST",
                      "id": "544680507732919020",
                      "name": "cat_45927139_e205_4f19_81d8_67e5c748c611",
                      "customerUnderscoreSecret": "airtable",
                      "secret": "mtKDhe1U",
                      "token": "8db17e23-29de-4dab-8886-af9717e0e742",
                      "extraDashParams": null
                    },
                    "subType": "airtable"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/catalogs/{catalogId}": {
      "get": {
        "tags": ["Data > Catalogs"],
        "summary": "Get a Catalog",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "catalogId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "550" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 12:26:34 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "544679326776296072",
                  "name": "cat_16c24785_bf36_4e00_90df_e8803c1c58f3",
                  "displayName": "exampleAirtableCatalog",
                  "queryName": "exampleairtablecatalog",
                  "type": "GENERIC_REST",
                  "props": {
                    "type": "GENERIC_REST",
                    "id": "544679326776296072",
                    "name": "cat_16c24785_bf36_4e00_90df_e8803c1c58f3",
                    "customerUnderscoreSecret": "airtable",
                    "secret": "mtKDhe1U",
                    "token": "8db17e23-29de-4dab-8886-af9717e0e742",
                    "extraDashParams": null
                  },
                  "subType": "airtable"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Data > Catalogs"],
        "summary": "Delete a Catalog",
        "description": "This endpoint sends an HTTP DELETE request to delete a specific catalog (:catalogId) within a project (:projectId).\n\nThe request does not contain a request body.\n\n### Response\n\n- Status: 200\n- The response body contains a single value, which is the ID of the deleted catalog.\n    \n\n#### Example\n\n```\n200 OK\n544639856899260964\n\n ```",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "catalogId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "18" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 13:08:04 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": 544639856899261000
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/catalogs/{catalogId}/schemas": {
      "get": {
        "tags": ["Data > Catalogs"],
        "summary": "List Schemas",
        "description": "This HTTP GET request retrieves a list of schemas for a specific catalog within a project. The request should be made to https://partner.peaka.studio/api/v1/data/projects/:projectId/catalogs/:catalogId/schemas.\n\n### Request\n\nThere is no request body for this request.\n\n### Response\n\n- Status: 200 OK\n- Body: An array of objects, each containing the \"catalogId\" and \"schemaName\" for the schemas within the specified catalog.\n    \n\nExample response:\n\n``` json\n[\n    {\n        \"catalogId\": \"544639856899260964\",\n        \"schemaName\": \"deneme\"\n    }\n]\n\n ```",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "catalogId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "89" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 12:47:07 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  { "catalogId": "544639856899260964", "schemaName": "deneme" }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables": {
      "get": {
        "tags": ["Data > Catalogs"],
        "summary": "List Tables",
        "description": "This endpoint makes an HTTP GET request to retrieve a list of tables within a specific schema of a project catalog. The request should include the project ID, catalog ID, and schema name in the URL path.\n\nThe response to this request will be a JSON array containing objects with details about each table, including the catalog ID, catalog name, schema name, table name, and flags indicating whether the table is cacheable, dynamic, and cached.\n\nExample response:\n\n``` json\n[\n    {\n        \"catalogId\": \"544639856899260964\",\n        \"catalogName\": \"airtable2\",\n        \"schemaName\": \"deneme\",\n        \"tableName\": \"projects\",\n        \"isCacheable\": false,\n        \"isDynamicTable\": false,\n        \"isCached\": false\n    },\n    {\n        \"catalogId\": \"544639856899260964\",\n        \"catalogName\": \"airtable2\",\n        \"schemaName\": \"deneme\",\n        \"tableName\": \"testdeneme\",\n        \"isCacheable\": false,\n        \"isDynamicTable\": false,\n        \"isCached\": false\n    }\n]\n\n ```",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "catalogId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "schemaName",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "496" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 12:46:58 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  {
                    "catalogId": "544639856899260964",
                    "catalogName": "airtable2",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "isCacheable": false,
                    "isDynamicTable": false,
                    "isCached": false
                  },
                  {
                    "catalogId": "544639856899260964",
                    "catalogName": "airtable2",
                    "schemaName": "deneme",
                    "tableName": "testdeneme",
                    "isCacheable": false,
                    "isDynamicTable": false,
                    "isCached": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/catalogs/{catalogId}/schemas/{schemaName}/tables/{tableName}/columns": {
      "get": {
        "tags": ["Data > Catalogs"],
        "summary": "List Columns",
        "description": "This endpoint retrieves a list of columns for a specific table within a schema of a project's catalog.\n\nNo request body is required for this endpoint.\n\nThe response will include a status code of 200, and a JSON array containing objects representing the columns. Each object includes details such as catalog ID, schema name, table name, column name, data type, and properties like type, display name, uniqueness, and more.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "catalogId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "schemaName",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "tableName",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 22 Jan 2024 13:00:42 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": { "type": "string", "example": "chunked" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "_airtable_row_id",
                    "dataType": "varchar",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "_airtable_row_id",
                      "name": "_airtable_row_id",
                      "isNotNull": false,
                      "order": 1,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "varchar"
                    }
                  },
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "_airtable_row_createdtime",
                    "dataType": "timestamp(3) with time zone",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "_airtable_row_createdtime",
                      "name": "_airtable_row_createdtime",
                      "isNotNull": false,
                      "order": 2,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "timestamp(3) with time zone"
                    }
                  },
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "name",
                    "dataType": "varchar",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "name",
                      "name": "name",
                      "isNotNull": false,
                      "order": 3,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "varchar"
                    }
                  },
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "start date",
                    "dataType": "timestamp(3) with time zone",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "start date",
                      "name": "start date",
                      "isNotNull": false,
                      "order": 4,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "timestamp(3) with time zone"
                    }
                  },
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "deadline",
                    "dataType": "timestamp(3) with time zone",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "deadline",
                      "name": "deadline",
                      "isNotNull": false,
                      "order": 5,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "timestamp(3) with time zone"
                    }
                  },
                  {
                    "catalogId": "544639856899260964",
                    "schemaName": "deneme",
                    "tableName": "projects",
                    "columnName": "assets",
                    "dataType": "varchar",
                    "props": {
                      "type": "EXTERNAL",
                      "id": "-1",
                      "displayName": "assets",
                      "name": "assets",
                      "isNotNull": false,
                      "order": 6,
                      "pinned": false,
                      "isUnique": false,
                      "defaultValue": null,
                      "isSystem": false,
                      "dataType": "varchar"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/queries": {
      "post": {
        "tags": ["Data > Query"],
        "summary": "Create A Query",
        "description": "### Add Project Query\n\nThis endpoint allows the user to add a new query to a specific project.\n\n#### Request Body\n\n- `displayName` (string): The display name for the query.\n    \n- `inputQuery` (string): The input query for the project.\n    \n- `queryType` (string): The type of query.\n    \n\nExample:\n\n``` json\n{\n    \"displayName\": \"\",\n    \"inputQuery\": \"\",\n    \"queryType\": \"\"\n}\n\n ```\n\n#### Response\n\n- `id` (string): The unique identifier for the query.\n- `displayName` (string): The display name of the query.\n- `name` (string): The name of the query.\n- `queryType` (string): The type of query.\n- `inputQuery` (string): The input query.\n- `lastValidInputQuery` (string): The last valid input query.\n- `columns` (array): An array of objects containing information about the columns.\n- `createdTime` (string): The timestamp when the query was created.\n- `modifiedTime` (string): The timestamp when the query was last modified.\n- `visualInput` (string, null): Visual input, if available.\n- `aiText` (string, null): AI-generated text, if available.\n    \n\nExample:\n\n``` json\n{\n    \"id\": \"545274742546891676\",\n    \"displayName\": \"sampleAirtableQuery\",\n    \"name\": \"sampleairtablequery\",\n    \"queryType\": \"PLAIN\",\n    \"inputQuery\": \"SELECT * from \\\"airtable\\\".\\\"deneme\\\".\\\"projects\\\"\",\n    \"lastValidInputQuery\": \"SELECT * from \\\"airtable\\\".\\\"deneme\\\".\\\"projects\\\"\",\n    \"columns\": [\n        {\n            \"name\": \"_airtable_row_id\",\n            \"displayName\": \"_airtable_row_id\",\n            \"dataType\": \"varchar\",\n            \"jdbcDataType\": 12,\n            \"columnSize\": 2147483647,\n            \"decimalDigits\": 0,\n            \"numPrecRadix\": null,\n            \"nullable\": 2,\n            \"charOctetLength\": null,\n            \"ordinalPosition\": 1\n        },\n        ...\n    ],\n    \"createdTime\": \"2024-01-23T08:03:34.660949Z\",\n    \"modifiedTime\": \"2024-01-23T08:03:34.660949Z\",\n    \"visualInput\": null,\n    \"aiText\": null\n}\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "displayName": "<queryName>",
                  "inputQuery": "<stringifiedQuery>",
                  "queryType": "<queryType>"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 11:38:21 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": { "type": "string", "example": "chunked" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "545382847939084788",
                  "displayName": "AirtableQueryExample",
                  "name": "airtablequeryexample",
                  "queryType": "PLAIN",
                  "inputQuery": "SELECT * from \"myairtable\".\"deneme\".\"projects\"",
                  "lastValidInputQuery": "SELECT * from \"myairtable\".\"deneme\".\"projects\"",
                  "columns": [
                    {
                      "name": "_airtable_row_id",
                      "displayName": "_airtable_row_id",
                      "dataType": "varchar",
                      "jdbcDataType": 12,
                      "columnSize": 2147483647,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 1
                    },
                    {
                      "name": "_airtable_row_createdtime",
                      "displayName": "_airtable_row_createdtime",
                      "dataType": "timestamp(3) with time zone",
                      "jdbcDataType": 2014,
                      "columnSize": 63,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 2
                    },
                    {
                      "name": "name",
                      "displayName": "name",
                      "dataType": "varchar",
                      "jdbcDataType": 12,
                      "columnSize": 2147483647,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 3
                    },
                    {
                      "name": "start date",
                      "displayName": "start date",
                      "dataType": "timestamp(3) with time zone",
                      "jdbcDataType": 2014,
                      "columnSize": 63,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 4
                    },
                    {
                      "name": "deadline",
                      "displayName": "deadline",
                      "dataType": "timestamp(3) with time zone",
                      "jdbcDataType": 2014,
                      "columnSize": 63,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 5
                    },
                    {
                      "name": "assets",
                      "displayName": "assets",
                      "dataType": "varchar",
                      "jdbcDataType": 12,
                      "columnSize": 2147483647,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 6
                    }
                  ],
                  "createdTime": "2024-01-23T11:38:21.832Z",
                  "modifiedTime": "2024-01-23T11:38:21.832Z",
                  "visualInput": null,
                  "aiText": null
                }
              }
            }
          },
          "default": {
            "description": "default",
            "content": {
              "text/plain": { "schema": { "type": "string" }, "example": null }
            }
          }
        }
      },
      "get": {
        "tags": ["Data > Query"],
        "summary": "List Queries",
        "description": "This endpoint makes an HTTP GET request to retrieve queries for a specific project. The project ID is included in the URL path. The request does not include a request body.\n\nThe response to the request is a 200 status code, and it returns an array of objects. Each object in the array represents a query and includes properties such as ID, display name, query type, input query, last valid input query, columns, created time, modified time, visual input, and AI text.\n\nIt is important to note that the response includes masked/minified values for the properties.\n\nThe user can use this endpoint to fetch queries for a specific project.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 08:07:43 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": { "type": "string", "example": "chunked" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": [
                  {
                    "id": "376639584324289060",
                    "displayName": "Sample",
                    "name": "sample",
                    "queryType": "PLAIN",
                    "inputQuery": "SELECT *\nFROM\n  \"stripe_code2\".\"payment\".\"coupons\"\n",
                    "lastValidInputQuery": "SELECT *\nFROM\n  \"stripe_code2\".\"payment\".\"coupons\"\n",
                    "columns": null,
                    "createdTime": "2023-06-04T15:55:37.259721Z",
                    "modifiedTime": "2023-06-19T16:29:58.888858Z",
                    "visualInput": null,
                    "aiText": ""
                  },
                  {
                    "id": "544718283362796368",
                    "displayName": "airtableQuery",
                    "name": "airtablequery",
                    "queryType": "PLAIN",
                    "inputQuery": "SELECT * FROM \"airtable\".\"deneme\".\"projects\"",
                    "lastValidInputQuery": "SELECT * FROM \"airtable\".\"deneme\".\"projects\"",
                    "columns": [
                      {
                        "name": "_airtable_row_id",
                        "displayName": "_airtable_row_id",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 1
                      },
                      {
                        "name": "_airtable_row_createdtime",
                        "displayName": "_airtable_row_createdtime",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 2
                      },
                      {
                        "name": "name",
                        "displayName": "name",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 3
                      },
                      {
                        "name": "start date",
                        "displayName": "start date",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 4
                      },
                      {
                        "name": "deadline",
                        "displayName": "deadline",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 5
                      },
                      {
                        "name": "assets",
                        "displayName": "assets",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 6
                      }
                    ],
                    "createdTime": "2024-01-22T13:37:59.561192Z",
                    "modifiedTime": "2024-01-22T13:40:09.147945Z",
                    "visualInput": null,
                    "aiText": ""
                  },
                  {
                    "id": "545274088503903032",
                    "displayName": "sampleQuery",
                    "name": "samplequery",
                    "queryType": "PLAIN",
                    "inputQuery": "SELECT * FROM \"airtable\".\"deneme\".\"projects\"",
                    "lastValidInputQuery": "SELECT * FROM \"airtable\".\"deneme\".\"projects\"",
                    "columns": [
                      {
                        "name": "_airtable_row_id",
                        "displayName": "_airtable_row_id",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 1
                      },
                      {
                        "name": "_airtable_row_createdtime",
                        "displayName": "_airtable_row_createdtime",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 2
                      },
                      {
                        "name": "name",
                        "displayName": "name",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 3
                      },
                      {
                        "name": "start date",
                        "displayName": "start date",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 4
                      },
                      {
                        "name": "deadline",
                        "displayName": "deadline",
                        "dataType": "timestamp(3) with time zone",
                        "jdbcDataType": 2014,
                        "columnSize": 63,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 5
                      },
                      {
                        "name": "assets",
                        "displayName": "assets",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 6
                      }
                    ],
                    "createdTime": "2024-01-23T08:02:16.696795Z",
                    "modifiedTime": "2024-01-23T08:03:00.645780Z",
                    "visualInput": null,
                    "aiText": ""
                  },
                  {
                    "id": "545274742546891676",
                    "displayName": "newName",
                    "name": "newname",
                    "queryType": "PLAIN",
                    "inputQuery": "SELECT name from \"airtable\".\"deneme\".\"projects\"",
                    "lastValidInputQuery": "SELECT name from \"airtable\".\"deneme\".\"projects\"",
                    "columns": [
                      {
                        "name": "name",
                        "displayName": "name",
                        "dataType": "varchar",
                        "jdbcDataType": 12,
                        "columnSize": 2147483647,
                        "decimalDigits": 0,
                        "numPrecRadix": null,
                        "nullable": 2,
                        "charOctetLength": null,
                        "ordinalPosition": 1
                      }
                    ],
                    "createdTime": "2024-01-23T08:03:34.660949Z",
                    "modifiedTime": "2024-01-23T08:06:48.459155Z",
                    "visualInput": null,
                    "aiText": null
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/queries/{queryId}": {
      "put": {
        "tags": ["Data > Query"],
        "summary": "Update A Query",
        "description": "This endpoint allows you to update a specific query within a project. The HTTP PUT request should be made to /data/projects/:projectId/queries/:queryId, where :projectId is the unique identifier of the project and :queryId is the unique identifier of the query being updated. The request should include a raw payload with the following parameters:\n\n- displayName: (string) The display name of the query\n- inputQuery: (string) The input query for the query\n- queryType: (string) The type of the query\n- id: (string) The unique identifier of the query\n    \n\nThe response will include the updated details of the query, such as:\n\n- id: The unique identifier of the query\n- displayName: The updated display name of the query\n- name: The updated name of the query\n- queryType: The type of the query\n- inputQuery: The updated input query for the query\n- lastValidInputQuery: The last valid input query for the query\n- columns: Details of the columns in the query result\n- createdTime: The timestamp when the query was created\n- modifiedTime: The timestamp when the query was last modified\n- visualInput: Visual input details (if available)\n- aiText: AI-generated text (if available)\n    \n\nHere is an example of the response:\n\n``` json\n{\n    \"id\": \"545274742546891676\",\n    \"displayName\": \"newName\",\n    \"name\": \"newname\",\n    \"queryType\": \"PLAIN\",\n    \"inputQuery\": \"SELECT name from \\\"airtable\\\".\\\"deneme\\\".\\\"projects\\\"\",\n    \"lastValidInputQuery\": \"SELECT name from \\\"airtable\\\".\\\"deneme\\\".\\\"projects\\\"\",\n    \"columns\": [\n        {\n            \"name\": \"name\",\n            \"displayName\": \"name\",\n            \"dataType\": \"varchar\",\n            \"jdbcDataType\": 12,\n            \"columnSize\": 2147483647,\n            \"decimalDigits\": 0,\n            \"numPrecRadix\": null,\n            \"nullable\": 2,\n            \"charOctetLength\": null,\n            \"ordinalPosition\": 1\n        }\n    ],\n    \"createdTime\": \"2024-01-23T08:03:34.660949Z\",\n    \"modifiedTime\": \"2024-01-23T08:06:48.459155Z\",\n    \"visualInput\": null,\n    \"aiText\": null\n}\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "displayName": "<queryName>",
                  "inputQuery": "<stringifiedQuery>",
                  "queryType": "<queryType>",
                  "id": "<queryId>"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "queryId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "794" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 11:39:40 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {
                  "id": "545382847939084788",
                  "displayName": "newName",
                  "name": "newname",
                  "queryType": "PLAIN",
                  "inputQuery": "SELECT name from \"myairtable\".\"deneme\".\"projects\"",
                  "lastValidInputQuery": "SELECT name from \"myairtable\".\"deneme\".\"projects\"",
                  "columns": [
                    {
                      "name": "name",
                      "displayName": "name",
                      "dataType": "varchar",
                      "jdbcDataType": 12,
                      "columnSize": 2147483647,
                      "decimalDigits": 0,
                      "numPrecRadix": null,
                      "nullable": 2,
                      "charOctetLength": null,
                      "ordinalPosition": 1
                    }
                  ],
                  "createdTime": "2024-01-23T11:38:21.832Z",
                  "modifiedTime": "2024-01-23T11:39:40.127128Z",
                  "visualInput": null,
                  "aiText": null
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Data > Query"],
        "summary": "Delete A Query",
        "description": "This endpoint sends an HTTP DELETE request to delete a specific query (:queryId) within a project (:projectId).\n\nNo request body is required for this request.\n\n### Response\n\n- Status: 200\n- Example Response:\n    \n    ```\n      545274742546891676\n    \n     ```",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "queryId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Length": {
                "schema": { "type": "integer", "example": "18" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 08:10:33 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": 545274742546891650
              }
            }
          }
        }
      }
    },
    "/api/v1/data/projects/{projectId}/queries/execute": {
      "post": {
        "tags": ["Data > Query"],
        "summary": "Execute A Query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "columns": [
                    {
                      "column": {
                        "catalogId": "2",
                        "schemaName": "query",
                        "tableName": "<queryName>",
                        "columnName": "*",
                        "dataType": null,
                        "props": null
                      },
                      "function": null
                    }
                  ],
                  "from": [
                    {
                      "catalogId": "2",
                      "schemaName": "query",
                      "tableName": "<queryName>"
                    }
                  ],
                  "filters": null,
                  "limit": 50,
                  "offset": 0,
                  "orderBy": null,
                  "rows": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Type": {
                "schema": { "type": "string", "example": "application/json" }
              },
              "Vary": { "schema": { "type": "string", "example": "Origin" } },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 23 Jan 2024 08:17:47 GMT"
                }
              },
              "Transfer-Encoding": {
                "schema": { "type": "string", "example": "chunked" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "example-0": {
                    "summary": "Execute A Query",
                    "value": {
                      "columns": [
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "_airtable_row_id",
                          "dataType": "varchar",
                          "props": null
                        },
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "_airtable_row_createdtime",
                          "dataType": "timestamp(3) with time zone",
                          "props": null
                        },
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "name",
                          "dataType": "varchar",
                          "props": null
                        },
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "start date",
                          "dataType": "timestamp(3) with time zone",
                          "props": null
                        },
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "deadline",
                          "dataType": "timestamp(3) with time zone",
                          "props": null
                        },
                        {
                          "catalogId": "2",
                          "schemaName": "table",
                          "tableName": "airtablequery",
                          "columnName": "assets",
                          "dataType": "varchar",
                          "props": null
                        }
                      ],
                      "data": [
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "rec66mjkOMBOwLuuf"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 16:20:23.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "sadsad"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recEELHx6Q1rQJwDA"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-06-28 15:09:27.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "Campaign analysis"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": "2022-07-05 00:00:00.0"
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": "2022-07-08 00:00:00.0"
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recHaEoUdNxAKrCzH"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-21 17:32:10.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "def"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recHoES5JwHms3uC5"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 16:20:44.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "124"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recI2D2msaAsaFj16"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 16:20:38.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "123"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recIc3EoQxKzFPy1y"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 16:20:51.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "125"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recNoknqk30RxKkVc"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-06-28 15:14:36.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "asd"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recRThKlITifq1LCO"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-06-28 15:09:27.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": "Quarterly launch"
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": "2022-06-27 00:00:00.0"
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": "2022-06-30 00:00:00.0"
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recXNZWEvPBHei1AT"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 18:28:14.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": null
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recbTac3BVHBWpB4O"
                          },
                          {
                            "name": "_airtable_row_createdtime",
                            "displayName": "_airtable_row_createdtime",
                            "dataType": "timestamp(3) with time zone",
                            "order": 1,
                            "value": "2022-11-22 18:28:15.0"
                          },
                          {
                            "name": "name",
                            "displayName": "name",
                            "dataType": "varchar",
                            "order": 2,
                            "value": null
                          },
                          {
                            "name": "start date",
                            "displayName": "start date",
                            "dataType": "timestamp(3) with time zone",
                            "order": 3,
                            "value": null
                          },
                          {
                            "name": "deadline",
                            "displayName": "deadline",
                            "dataType": "timestamp(3) with time zone",
                            "order": 4,
                            "value": null
                          },
                          {
                            "name": "assets",
                            "displayName": "assets",
                            "dataType": "varchar",
                            "order": 5,
                            "value": null
                          }
                        ],
                        [
                          {
                            "name": "_airtable_row_id",
                            "displayName": "_airtable_row_id",
                            "dataType": "varchar",
                            "order": 0,
                            "value": "recbYRuuOKFeC40t1"
                          },
[...]
